body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* ENCABEZADO */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px;
}

/* MENÚ */
nav {
    background-color: #34495e;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* BIENVENIDA */
.bienvenida {
    text-align: center;
    padding: 40px;
    background-color: white;
}

/* CATEGORÍAS */
.categorias {
    background-color: #ecf0f1;
    padding: 40px 20px;
}

/* TÍTULO CATEGORÍAS */
.titulo-categorias {
    text-align: center;
    margin-bottom: 30px;
}

/* CONTENEDOR DE TARJETAS */
.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* TARJETAS */
.tarjeta {
    background: white;
    width: 250px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* PIE DE PÁGINA */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

.tarjeta {
    text-decoration: none;
    color: black;
}

.tarjeta:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.titulo-categoria{
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
    color: #333;
}

.libros-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    gap: 20px;
    padding: 20px;
}

.libro-card{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.libro-card:hover{
    transform: scale(1.05);
}

.libro-card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
}

.libro-card h3{
    margin-top: 10px;
    font-size: 16px;
    color: #222;
}

.libro-card a:hover{
    background: #1a252f;
}

.libros-container {
    max-width: 1200px;
    margin: auto;
}

.libro-card {
    cursor: pointer;
}

.libro-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #2c3e50;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
}

.libro-card a:hover {
  background: #1a252f;
}

/* MENÚ DE NAVEGACIÓN BONITO */
.menu {
    background: linear-gradient(90deg, #1f3b77, #3b82f6);
    padding: 15px 0;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: inline-block;
}

.menu a:hover {
    background-color: white;
    color: #1f3b77;
    transform: scale(1.1);
}